.react-multiple-carousel__arrow--right {
    right: 0%;
}

.react-multiple-carousel__arrow--left {
    left:0%
}

.react-multiple-carousel__arrow {
    min-width: 30px;
    min-height: 30px;
    background: #87283e;
    z-index: 10;
}

.react-multiple-carousel__arrow:hover {
    background: #dda2a5;
}

.graph li{
    list-style-type: none;
}