.carousel-container {
    margin: 0 auto;
    max-width: 70%; 
   /* Adjust max-width as per your design */
  }
  
  .slide {
    height: 450px; /* Set a fixed height for consistency */
    border-radius: 28px; /* Optional: Add rounded corners */
    overflow: hidden;
    margin: 50px;/* Ensure images don't overflow */
  }
  
  .slide img {
    object-fit: cover; /* Ensure images cover the entire container */
    width: 100%;
    height: auto;
  }
.quote-section{
    background-color: #fff;
    margin: 5% 0;

}
.quote-section h1{
    font-size: 40px;
    margin: 5% 7%;
    font-weight: 700;
    color:#f47732;
} 

