@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    background: white;
}

.bg{
  border: 1px solid red;
}

@font-face {
  font-family: 'DINPro';
  src: url('../public/fonts/DINPro-Medium.woff2') format('woff2'),
      url('../public/fonts/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../public/fonts/DINPro-Light.woff2') format('woff2'),
      url('../public/fonts/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../public/fonts/DINPro-Regular.woff2') format('woff2'),
      url('../public/fonts/DINPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../public/fonts/DINPro-Bold.woff2') format('woff2'),
      url('../public/fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}




:root {
  font-family: DINPro, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

